<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="style.css">
    <title>TO DO LIST</title>
</head>

<body>

    <style>
        .material-symbols-outlined {
            font-variation-settings:
                'FILL' 0,
                'wght' 400,
                'GRAD' 0,
                'opsz' 48
        }

        .material-symbols-outlined {
            font-variation-settings:
                'FILL' 0,
                'wght' 700,
                'GRAD' 0,
                'opsz' 48
        }
    </style>
    <h1>
        <%= Foo %>
    </h1>

    <div class="container">
        <div class="ul">

            <ul>
                <div class="header">
                    <h3> TASK LIST</h3>
                </div>
                <br>

                <% newItems.forEach(function(item){%>
                    <form action="/delet" method="post">
                        <li>

                            <input type="checkbox" name="checkbox" id="opt-in" value="<%=item._id%>" onChange="this.form.submit()" />
                            <label for="opt-in">
                                <%= item.name %>
                            </label>

                            <!-- <input type="checkbox" name="check" id="check"> <label for="check"></label> -->
                        </li>

                    </form>
                    <% })%>

                        <!-- <% for(var i=0; i < newItems.length; i++){ %>
                    <li>

                        <input type="checkbox" name="my-checkbox" id="opt-in" />
                        <label for="opt-in">
                            <%= newItems[i].name %>
                        </label>

                        <input type="checkbox" name="check" id="check"> <label for="check"></label>
                    </li>
                    <% } %> -->

                        <form action="/" method="POST">
                            <br>
                            <label for="Text">ADD TASK : </label><br>
                            <input style="height: 30px;" type="text" name="textInput" id="Text" required>

                            <button type="submit"><span class="material-symbols-outlined">
                                    add_circle
                                </span></button>
                        </form>
            </ul>
        </div>


    </div>


    <form action="/date" method="post">
        <input type="date" name="date" id="1">

        <button type="submit">Submit</button>

        <!-- <button type="submit" name="return" value="true">Home</button> -->



    </form>


</body>

</html>