<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="style.css">
    <title>TO DO LIST</title>
</head>

<body>

    <style>
        .material-symbols-outlined {
          font-variation-settings:
          'FILL' 0,
          'wght' 400,
          'GRAD' 0,
          'opsz' 48

        }

        .material-symbols-outlined {
          font-variation-settings:
          'FILL' 0,
          'wght' 700,
          'GRAD' 0,
          'opsz' 48
        }
        </style>
    <h1>
        <%= Foo %>
    </h1>

    <div class="container">
        <div class="ul">
            <ul>
                <h3><span  class="material-symbols-outlined span1">
                    done
                    </span> TASK LIST</h3>
                <br>
                <% for(var i=0; i < newItems.length; i++){ %>
                    <li>

                        <input style="background-color: blueviolet;" type="checkbox" name="my-checkbox" id="opt-in" />
                        <label for="opt-in">
                            <%= newItems[i] %>
                        </label>

                        <!-- <input type="checkbox" name="check" id="check"> <label for="check"></label> -->
                    </li>
                    <% } %>
            </ul>
        </div>

        <form action="/" method="POST">

            <label for="Text">ADD TASK : </label>
            <input type="text" name="textInput" id="Text" required>

            <button type="submit"><span class="material-symbols-outlined">
                add_circle
                </span></button>
        </form>
    </div>


</body>

</html>