*{
    padding: 0;
    margin: 0;
}


body{
    background-color: black;
    text-align: center;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: white;
    font-weight: bolder;
    font-size: 50px;
    font-family: 'Rajdhani', sans-serif;
}

.container{
    background-color: white;
    color:black;
    font-size: larger;
    font-weight:bold;
    height: 30%;
    width: 30%;
    min-height: 300px;
    min-width: 300px;
    border-radius: 5px;
    margin-top: 2.5em;

    text-align: left;
    display: flex;
    justify-content: center;
    /* margin-left:40%;
    margin-top: 20px; */
    font-family: 'Rajdhani', sans-serif;

}
/* .ul{
    text-align: left;
    display: flex;
    justify-content: center; */
    /* margin-left:40%;
    margin-top: 20px; */
    /* font-family: 'Rajdhani', sans-serif;
} */

ul{
    list-style: none;
    font-family: 'Rajdhani', sans-serif;

}

/* input[type="checkbox"]:checked {
    color: red;
} */
input:checked + label {
    text-decoration: line-through;
    /* background-color: black; */
  }
#Text{
    /* background-color: aqua; */
    border: none;
    border-bottom: 2px solid black;

}

button{
    border: none;
    cursor: -webkit-grab; cursor: grab;
}


.span1{

    position: static;
    /* top: 29.5%;
    left:45%; */
    /* background-color: red; */

    
}

.header{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
color: white;
    background-color: black;
}
